<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/antik88/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="antik88" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
